.aVDBGrid
{
	[if lt IE 8] border-collapse: collapse;
	[if ! lt IE 8] border-collapse: separate;
	[if ! lt IE 8] border-spacing: 0px;
	border: 1px solid;
	border-top: none;
	overflow: hidden;
	font-size: 8pt;
	table-layout: fixed;
	width: 99%;
	z-index: 5;
	font-family: verdana;
	margin: auto;
	margin-bottom: 4px;
	/* Conditional lines for Firefox 2 and below bug */
	[if lt Gecko 1.9] float: left;
	[if lt Gecko 1.9] clear: both;
	[if lt Gecko 1.9] margin: 0px 0.5% 4px 0.5%;
}
.aVDBGrid caption
{
	font-size: 10pt;
	font-weight: bold;
	overflow: hidden;
	border: 1px solid;
	padding: 3px 2px 3px 1px;
	z-index: 3;
	background: #eeeeff url('/JSLib/images/DBGrid/caption_background.gif') repeat-x top left;
	/* Conditional line for Firefox 2 and below bug */
	[if lt Gecko 1.9] margin: 4px 0.5% 0px 0.5%;
}
.aVDBGrid caption .title
{
	overflow: hidden;
	float: left;
	clear: left;
	margin-top: 6px;
	margin-left: 2px;
	padding: 2px 1px;
	[if lt IE 8] width: 75%;
}
.aVDBGrid .statusArea
{
	overflow: hidden;
	float: right;
	clear: right;
	font-style: italic;
	font-weight: normal;
	font-size: 9pt;
	margin: 3px 0;
	text-align: right;
}
.aVDBGrid caption a
{
	display: block;
	padding: 5px 0 5px 20px;
	float: left;
	margin: 2px 2px 4px 2px;
	background-repeat: no-repeat;
	background-position: left;
	font-size: 7pt;
	line-height: 10px!important;
	text-decoration: none;
	font-weight: normal;
}
.aVDBGrid .buttonColumnList
{
	background-image: url('../images/DBGrid/wand.png');
	font-weight: bold;
	color: #a40d26;
}
.aVDBGrid .buttonGroupAll
{
	background-image: url('../images/DBGrid/link.png');
}
.aVDBGrid .buttonUngroupAll
{
	background-image: url('../images/DBGrid/link_break.png');
}
.aVDBGrid .buttonExport
{
	float: right;
	background-position: right;
	padding: 5px 20px 5px 0;
}
.aVDBGrid .buttonFilter
{
	background-image: url('../images/DBGrid/filter.png');
}
.aVDBGridColumnList
{
	background: #eeeeff;
	border: 1px solid #bbbbbb;
	width: 190px;
	padding: 0;
	font-size: 8pt;
	margin: 0;
	position: absolute;
	z-index: 10;
	font-weight: normal;
	overflow-y: auto;
	overflow-x: hidden;
	[if lt IE 8] margin-top: 63px;
}
.aVDBGridColumnList li
{
	padding: 1px;
	overflow: hidden;
	display: block;
	height: 18px;
	width: 188px;
}
.aVDBGridColumnList li:hover
{
	background-color: #bbbbff;
}
.aVDBGridColumnList li *
{
	cursor: pointer;
	float: left;
	clear: none;
}
.aVDBGridColumnList label
{
	width: 150px;
	margin: 2px 0;
}
.aVDBGrid thead
{
	overflow: hidden;
}
.aVDBGrid tbody
{
	overflow-x: hidden;
	overflow-y: auto;
	[if lt IE 8] height: auto!important;
}
.aVDBGrid td
{
	border: 1px solid #cccccc;
	white-space: normal;
	overflow: hidden;
	padding: 2px;
}
.aVDBGrid td *
{
	font-size: 8pt;
}
.aVDBGrid .groupedRow
{
	background-image: url('../images/DBGrid/piano.gif');
	background-position: 0 2px;
}
.aVDBGrid .groupedRow td
{
	white-space: nowrap;
}
.aVDBGrid thead td
{
	background: #557e9f;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	vertical-align: bottom;
	padding-top: 3px;
	padding-bottom: 3px;
}
.aVDBGrid thead td:hover
{
	border-bottom: 1px solid #BBBBBB;
	background-color: #054278;
}
.aVDBGrid thead .sortedAsc, .aVDBGrid thead .sortedDesc
{
	border-bottom: 1px solid #BBBBBB;
	background-repeat: no-repeat;
	background-position: left;
	background-color: #054278;
	padding-left: 10px!important;
}
.aVDBGrid thead .sortedAsc
{
	background-image: url('../images/DBGrid/up.png');
}
.aVDBGrid thead .sortedDesc
{
	background-image: url('../images/DBGrid/down.png');
}
.aVDBGrid thead .filterRow td
{
	padding: 0px;
	background: #eeeeff;
}
.aVDBGrid thead .filterRow input
{
	border: none;
	width: 100%;
}
.aVDBGrid thead .dummyColumn
{
	width: 17px;
	cursor: default;
	border: none;
}
.aVDBGrid tbody tr
{
	background: #ffffff;
}
.aVDBGrid tbody tr:hover, .aVDBGrid tbody tr.selected
{
	background-color: #e3edfa!important;
}
.aVDBGrid tbody td
{
	vertical-align: top;
	padding: 2px;
	border-width: 1px;
	border-color: #cccccc;
	border-style: none solid solid none;
}
.aVDBGrid tbody td[datatype="int"], .aVDBGrid tbody td[datatype="real"], .aVDBGrid tbody td[datatype="real"] .aVqE_editor, .aVDBGrid tbody td[datatype="int"] .aVqE_editor
{
	text-align: right;
	color: #4848ff;
}
.aVDBGrid tbody p
{
	margin-top: 0px;
	margin-bottom: 0px;
}
.aVDBGrid tbody td.aVqE_editee input.aVqE_editor
{
	border: none;
	margin: -1px;
	font-size: 8pt;
	width: 100%;
}
.aVDBGrid tfoot
{
	font-weight: bold;
	overflow: hidden;
	text-align: left;
	z-index: 3;
	background-color: #eeeeff;
}
.aVDBGrid tfoot td
{
	padding: 2px 2px 4px 2px;
	border: none;
}
.aVDBGrid tfoot div
{
	float: left;
}
.aVDBGrid .pageControls
{
	text-align: right;
	float: right;
}
.aVDBGrid .pageControls input
{
	font-size: 8pt;
	text-decoration: underline;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	margin-right: 10px;
	width: 20px;
	text-align: center;
}
.aVDBGrid .pageControls input.page
{
	margin-right: 0;
}
.aVDBGrid .pageControls a
{
	text-decoration: none;
	color: #000080;
	padding-bottom: 3px;
}
.aVDBGrid .pageControls a[disabled="true"]
{
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: text;
}
.aVDBGrid .pageControls a.previousPage
{
	padding-right: 18px;
	background: url('../images/DBGrid/previous.png') no-repeat right;
}
.aVDBGrid .pageControls a.nextPage
{
	padding-left: 18px;
	background: url('../images/DBGrid/next.png') no-repeat left;
}
/* Begin Printer Styles */
@media print
{
	/* hide unnecessary controls */
	.aVDBGrid .statusArea,
	.aVDBGrid caption a,
	.aVDBGrid .pageControls,
	.aVDBGridColumnList,
	.aVDBGrid thead tr.filterRow,
	.aVDBGrid tbody form,
	.aVDBGrid tbody input
	{
		display: none!important;
	}
	/* Set Page Break Rules */
	.aVDBGrid
	{
		overflow: visible;
	}
	.aVDBGrid caption
	{
		page-break-before: avoid;
		page-break-inside: avoid;
		page-break-after: avoid;
	}
	.aVDBGrid thead
	{
		page-break-before: avoid;
	}
	.aVDBGrid thead .dummyColumn
	{
		display: none;
	}
	.aVDBGrid tbody
	{
		page-break-before: avoid;
		page-break-after: avoid;
		overflow: visible;
		height: auto!important;
	}
	.aVDBGrid tbody tr
	{
		page-break-inside: avoid;
	}
	.aVDBGrid tbody tr *,
	.aVDBGrid tfoot,
	.aVDBGrid tfoot *
	{
		page-break-before: avoid!important;
		page-break-inside: avoid!important;
		page-break-after: avoid!important;
	}
}
