/*
 * Thanks to Mark James for his great icons.
 * Check address below for more.
 * http://www.famfamfam.com/lab/icons/silk/
 */
.aVdS_container
{
	border: 1px solid #c7c7c7;
	overflow: hidden;
	min-height: 50px;
	font-size: 10pt;
	margin: 4px;
	clear: both;
}
.aVdS_content
{
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
}
.aVdS_generalHelpBox
{
	background: #ededed;
	overflow: hidden;
	font-size: 8pt;
}
.aVdS_generalHelpBox .aVdS_customHelpBoxItem
{
	font-weight: bold;
}
.aVdS_generalHelpButton
{
	position: absolute;
	cursor: pointer;
	top: 0px;
	right: 0px;
	font-size: 9pt;
	color: #9f130e;
	background: url('/JSLib/images/DynamicSearch/help.gif') right center no-repeat;
	padding-right: 18px;
}
.aVdS_tabTitle
{
	padding: 0;
	margin: 0;
	width: 100%;
	background: url('/images/title_back.gif') repeat-x bottom left;
	border-bottom: 1px solid #c7c7c7;
	height: 17px;
	color: #547689;
	width: 100%;
	overflow: visible;
	position: relative;
}
.aVdS_tabTitle li
{
	padding: 0 4px;
	display: block;
	height: 17px;
	float: left;
	clear: none;
	margin: 0;
	border-right: 1px solid #c7c7c7;
	cursor: pointer;
}
.aVdS_tabTitle li:hover
{
	color: #22354b;
}
.aVdS_tabTitle .aVdS_activeTabTitle
{
	background: url('/images/tab_selected_back.gif') repeat-x top left;
	height: 16px;
	padding-top: 2px;
	font-weight: bold;
	color: #22354b;
}
.aVdS_form ul
{
	float: left;
	margin: 2px;
	padding: 0px;
	width: auto;
}
.aVdS_form .aVdS_conditions
{
	width: 98%;
	margin: 3px;
	padding: 3px;
}
.aVdS_form li
{
	float: left;
	clear: both;
	list-style: none;
	width: auto;
	height: 2em;
	vertical-align: middle;
}
.aVdS_form .aVdS_fieldAddition
{
	float: left;
}
.aVdS_form .aVdS_labels
{
	width: 24%;
}
.aVdS_form .aVdS_labels a
{
	background-color: #ffffbb;
	font-weight: bold;
}
.aVdS_form .aVdS_inputs
{
	width: 74%;
}
.aVdS_inputs li
{
	width: 100%;
}
.aVdS_inputs input
{
	width: 300px;
	float: left;
}
.aVdS_conditions li
{
	width: 100%;
	background: #ffffff;
	height: 21px!important;
	padding: 2px;
}
.aVdS_conditions li:hover
{
	background: #ffb;
	cursor: pointer;
}
.aVdS_conditions input, .aVdS_conditions select
{
	margin-right: 1px;
	float: left;
	clear: none;
}
.aVdS_controlButtons input, .aVdS_controlButtons select, .aVdS_controlButtons label
{
	float: right;
}
.aVdS_controlButtons label
{
	margin: 2px 1px;
}
.aVdS_controlButtons input
{
	width: auto;
}
.aVdS_controlButtons input.reset
{
	float: left;
}
.aVdS_controlButtons:hover, .aVdS_conjunction:hover
{
	cursor: default;
	background: #ffffff;
}
.aVdS_form input.text
{
	background-image: url('/JSLib/images/DynamicSearch/check.png');
	background-position: right;
	background-repeat: no-repeat;
	border: 1px solid #cccccc;
	height: 16px;
	padding-right: 16px;
}
.aVdS_error
{
	background-color: #efefef;
	background-image: url('/JSLib/images/DynamicSearch/error.png')!important;
}
.aVdS_enum
{
	background-image: url('/JSLib/images/DynamicSearch/dropdown.gif')!important;
}
.aVdS_hasSampleValue
{
	font-style: italic;
	color: #bbbbbb;
}
.aVdS_helpIcon
{
	float: left;
	padding-left: 18px;
	background: transparent url(/JSLib/images/DynamicSearch/help.gif) no-repeat scroll left center;
}
.aVdS_clearIcon
{
	float: left;
	padding-left: 18px;
	cursor: pointer;
	margin-right: 2px;
	background: transparent url(/JSLib/images/DynamicSearch/clear.png) no-repeat scroll left center;
}
.aVdS_loading
{
	background-image: url('/JSLib/images/loading.gif');
	background-position: left;
	background-repeat: no-repeat;
	height: 16px;
	padding-left: 16px;	
	font-style: italic;
}
.aVdS_addCondition, .aVdS_removeCondition
{
	background-image: url('/JSLib/images/DynamicSearch/add.png');
	background-position: left;
	background-repeat: no-repeat;
/*	width: 16px; */
	padding-left: 16px;
	height: 16px;
	display: block;
	float: left;
	clear: none;
	margin-top: 2px;
	margin-left: 5px;
	text-decoration: none;
}
.aVdS_removeCondition
{
	background-image: url('/JSLib/images/DynamicSearch/remove.png');
}
.aVdS_groupButton, .aVdS_ungroupButton
{
	float: right;
	font-style: italic;
	font-size: 10pt;
	cursor: pointer;
}
.aVdS_ungroupButton
{
	margin: 0;
	padding: 1px;
	background: #ffb;
	font-size: 8pt;
}
.aVdS_groupContainer
{
	border: 2px dashed #000000;
	padding: 2px;
	margin: 2px;
	overflow: hidden;
	float: left;
	clear: both;
	width: 98%;
	position: relative;
}
/* Begin Printer Styles */
@media print
{
	/* hide unnecessary controls */
	.aVdS_tabTitle,
	.aVdS_groupButton,
	.aVdS_ungroupButton,
	.aVdS_addCondition,
	.aVdS_removeCondition,
	.aVdS_controlButtons
	{
		display: none;
	}
	/* Set Page Break Rules */
	.aVdS_container
	{
		page-break-before: auto;
		page-break-inside: avoid;
		page-break-after: auto;
		overflow: visible;
	}
	.aVdS_form li
	{
		page-break-before: auto;
		page-break-inside: avoid;
		page-break-after: avoid;
	}
	.aVdS_labels
	{
		page-break-before: auto;
		page-break-inside: avoid;
		page-break-after: avoid;
	}
	.aVdS_inputs, .aVdS_conditions
	{
		page-break-before: avoid;
		page-break-inside: avoid;
		page-break-after: avoid;
	}
	.aVdS_form li *
	{
		page-break-before: avoid;
		page-break-inside: avoid;
		page-break-after: avoid;
	}
}