table.aVDBGrid
{
	[if lt IE 8] border-collapse: collapse;
	[if ! lt IE 8] border-collapse: separate;
	[if ! lt IE 8] border-spacing: 0px;
	border: 1px solid;
	border-top: none;
	overflow: hidden;
	font-size: 8pt;
	table-layout: fixed;
	width: 99%;
	z-index: 5;
	font-family: verdana;
	margin: auto;
	margin-bottom: 4px;
	/* Conditional lines for Firefox 2 and below bug */
	[if lt Gecko 1.9] float: left;
	[if lt Gecko 1.9] clear: both;
	[if lt Gecko 1.9] margin: 0px 0.5% 4px 0.5%;
}
table.aVDBGrid caption
{
	font-size: 10pt;
	font-weight: bold;
	overflow: hidden;
	border: 1px solid;
	padding: 3px 2px 3px 1px;
	z-index: 3;
	background: #eeeeff url('/JSLib/images/DBGrid/caption_background.gif') repeat-x top left;
	/* Conditional line for Firefox 2 and below bug */
	[if lt Gecko 1.9] margin: 4px 0.5% 0px 0.5%;
}
table.aVDBGrid caption div.title
{
	overflow: hidden;
	float: left;
	clear: left;
	margin-top: 6px;
	margin-left: 2px;
	padding: 2px 1px;
	[if lt IE 8] width: 75%;
/*	[if lt IE 8] height: 1.2em;*/
}
table.aVDBGrid caption div.statusArea
{
	overflow: hidden;
	float: right;
	clear: right;
	font-style: italic;
	font-weight: normal;
	font-size: 9pt;
	margin: 3px 0;
	text-align: right;
/*	[if lt IE 8] width: 45%;*/
}
table.aVDBGrid caption a
{
	display: block;
	padding: 5px 0 5px 20px;
	float: left;
	margin: 2px 2px 4px 2px;
	background-repeat: no-repeat;
	background-position: left;
	font-size: 7pt;
	line-height: 10px!important;
	text-decoration: none;
	font-weight: normal;
}
table.aVDBGrid caption a.buttonColumnList
{
	background-image: url('../images/DBGrid/wand.png');
}
table.aVDBGrid caption a.buttonGroupAll
{
	background-image: url('../images/DBGrid/link.png');
}
table.aVDBGrid caption a.buttonUngroupAll
{
	background-image: url('../images/DBGrid/link_break.png');
}
table.aVDBGrid caption a.buttonExport
{
	float: right;
	background-position: right;
	padding: 5px 20px 5px 0;
}
table.aVDBGrid caption a.buttonFilter
{
	background-image: url('../images/DBGrid/filter.png');
}
ul.aVDBGridColumnList
{
	background: #eeeeff;
	border: 1px solid #bbbbbb;
	width: 190px;
	padding: 0;
	font-size: 8pt;
	margin: 0;
	position: absolute;
	z-index: 10;
	font-weight: normal;
	overflow-y: auto;
	overflow-x: hidden;
}
ul.aVDBGridColumnList li
{
	padding: 1px;
	overflow: hidden;
	display: block;
	height: 18px;
	width: 188px;
}
ul.aVDBGridColumnList li:hover
{
	background: #bbbbff;
}
ul.aVDBGridColumnList li *
{
	cursor: pointer;
	float: left;
	clear: none;
}
ul.aVDBGridColumnList li label
{
	width: 150px;
	margin: 2px 0;
}
table.aVDBGrid thead
{
	overflow: hidden;
}
table.aVDBGrid tbody
{
	overflow-x: hidden;
	overflow-y: auto;
	[if lt IE 8] height: auto!important;
}
table.aVDBGrid td
{
	border: 1px solid #cccccc;
	white-space: normal;
	overflow: hidden;
	padding: 2px;
}
table.aVDBGrid td *
{
	font-size: 8pt;
}
table.aVDBGrid tr.groupedRow td
{
	white-space: nowrap;
}
table.aVDBGrid thead tr td
{
	background: #557e9f;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	vertical-align: bottom;
	padding-top: 3px;
	padding-bottom: 3px;
}
table.aVDBGrid thead tr td:hover
{
	border-bottom: 1px solid #BBBBBB;
	background: #054278;
}
table.aVDBGrid thead tr td.sortedAsc, table.aVDBGrid thead tr td.sortedDesc
{
	border-bottom: 1px solid #BBBBBB;
	background-repeat: no-repeat;
	background-position: left;
	background-color: #054278;
	padding-left: 10px!important;
}
table.aVDBGrid thead tr td.sortedAsc
{
	background-image: url('../images/DBGrid/up.png');
}
table.aVDBGrid thead tr td.sortedDesc
{
	background-image: url('../images/DBGrid/down.png');
}
table.aVDBGrid thead tr.filterRow td
{
	padding: 0px;
	background: #eeeeff;
}
table.aVDBGrid thead tr.filterRow td input
{
	border: none;
	width: 100%;
}
table.aVDBGrid thead tr td.dummyColumn
{
	width: 17px;
	cursor: default;
	border: none;
}
table.aVDBGrid tbody tr
{
	background: #ffffff;
}
table.aVDBGrid tbody tr:hover, table.aVDBGrid tbody tr.selected
{
	background: #e3edfa!important;
}
table.aVDBGrid tbody tr td
{
	vertical-align: top;
	padding: 2px;
	border-width: 1px;
	border-color: #cccccc;
	border-style: none solid solid none;
}
table.aVDBGrid tbody tr td[datatype="int"], table.aVDBGrid tbody tr td[datatype="real"], table.aVDBGrid tbody tr td[datatype="real"] .aVqE_editor, table.aVDBGrid tbody tr td[datatype="int"] .aVqE_editor
{
	text-align: right;
	color: #4848ff;
}
table.aVDBGrid tbody tr td p
{
	margin-top: 0px;
	margin-bottom: 0px;
}
table.aVDBGrid tbody td.aVqE_editee input.aVqE_editor
{
	border: none;
	margin: -1px;
	font-size: 8pt;
	width: 100%;
}
table.aVDBGrid tfoot
{
	font-weight: bold;
	overflow: hidden;
	text-align: left;
	z-index: 3;
	background: #eeeeff;
}
table.aVDBGrid tfoot tr td
{
	padding: 2px 2px 4px 2px;
	border: none;
}
table.aVDBGrid tfoot tr td div
{
	float: left;
}
table.aVDBGrid tfoot tr td div.pageControls
{
	text-align: right;
	float: right;
}
table.aVDBGrid tfoot tr td input
{
	font-size: 8pt;
	text-decoration: underline;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	margin-right: 10px;
	width: 20px;
	text-align: center;
}
table.aVDBGrid tfoot tr td input.page
{
	margin-right: 0;
}
table.aVDBGrid tfoot tr td a
{
	text-decoration: none;
	color: #000080;
	padding-bottom: 3px;
}
table.aVDBGrid tfoot tr td a[disabled="true"]
{
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: text;
}
table.aVDBGrid tfoot tr td a.previousPage
{
	padding-right: 18px;
	background: url('../images/DBGrid/previous.png') no-repeat right;
}
table.aVDBGrid tfoot tr td a.nextPage
{
	padding-left: 18px;
	background: url('../images/DBGrid/next.png') no-repeat left;
}

/* Begin Printer Styles */
@media print
{
	/* hide unnecessary controls */
	table.aVDBGrid caption div.statusArea,
	table.aVDBGrid caption a,
	table.aVDBGrid tfoot tr td div.pageControls,
	div.aVDBGridColumnList,
	table.aVDBGrid thead tr.filterRow,
	table.aVDBGrid tbody tr td form,
	table.aVDBGrid tbody tr td input
	{
		display: none!important;
	}
	/* Set Page Break Rules */
	table.aVDBGrid
	{
		overflow: visible;
	}
	table.aVDBGrid caption
	{
		page-break-before: avoid;
		page-break-inside: avoid;
		page-break-after: avoid;
	}
	table.aVDBGrid thead
	{
		page-break-before: avoid;
	}
	table.aVDBGrid thead tr td.dummyColumn
	{
		display: none;
	}
	table.aVDBGrid tbody
	{
		page-break-before: avoid;
		page-break-after: avoid;
		overflow: visible;
		height: auto!important;
	}
	table.aVDBGrid tbody tr
	{
		page-break-inside: avoid;
	}
	table.aVDBGrid tbody tr *,
	table.aVDBGrid tfoot,
	table.aVDBGrid tfoot *
	{
		page-break-before: avoid!important;
		page-break-inside: avoid!important;
		page-break-after: avoid!important;
	}
}
