.aVqE_editable
{
	text-decoration: underline;
	cursor: pointer;
}
span.aVqE_editable, td.aVqE_editable
{
	background: #ffffaa;
	text-decoration: none;
}
img.aVqE_editable
{
	border: 2px solid #dddddd;
	cursor: pointer;
}
input.aVqE_editor, select.aVqE_editor
{
	border: 1px solid #cccccc;
	padding: 0px;
	margin: 0px;
	display: inline;
	width: 98%;
}
.aVqE_editee input.aVqE_editor
{
	border: none;
	border-bottom: 1px solid #bbbbbb;
	width: 120px;
	/*background: none;*/
}
.aVqE_editee textarea.aVqE_editor
{
	border: none;
	margin: 0px;
	padding: 1px;
	width: 98%;
	overflow-y: hidden;
	overflow-x: auto;
}
div.aVqE_uploadBox
{
	background:#FFFFFF none repeat scroll 0%;
	border:1px solid #FF9900;
	font-family:Tahoma;
	font-size:8pt;
	margin:0px;
	overflow:hidden;
	padding:0px;
	position:absolute;
	width: 200px;
}
div.aVqE_uploadBox input
{
	font-family:Tahoma;
	font-size:8pt;
	margin:2px;
	text-align:center;
	width:100%;
}
div.aVqE_uploadBox div.aVqE_uploadBoxTitle
{
	background:#FF9900 none repeat scroll 0%;
	color:#FFFFFF;
	cursor:default;
	margin:0px;
	padding:2px;
	float: left;
	clear: both;
	width: 100%;
}
div.aVqE_uploadBox div.aVqE_uploadBoxTitle div.aVqE_uploadBoxTitleText
{
	float: left;
	clear: left;
}
div.aVqE_uploadBox div.aVqE_uploadBoxTitle div.aVqE_uploadBoxCloseButton
{
	cursor: pointer;
	float: right;
	clear: right;
	margin-right: 5px;
	font-size: 9pt;
}
div.aVqE_uploadBox form.aVqE_uploadBoxForm
{
	float: left;
	width: 100%;
}
div.aVqE_uploadBox div.aVqE_uploadBoxLoadingDiv
{
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}
div.aVqE_uploadBox div.aVqE_uploadBoxLoadingDiv img
{
	margin: 1px auto;
}