.aCListBox
{
	display: block;
	border: 1px solid #cccccc;
	background: #ffffff;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	max-height: 100px;
	height: expression(((this.scrollHeight<100)?this.scrollHeight:100) + 'px'); /* fix for IE */
	font-size: 10pt;
	z-index: 100;
}
.aCListBox>li
{
	list-style: none;
	cursor: pointer;
}
.aCListBox li.selected
{
	background: #bbddff;
}
.aCLoading
{
	background-image: url('/JSLib/images/loading.gif')!important;
	background-position: right;
	background-repeat: no-repeat;
}
.aCMatchedPart
{
	font-weight: bold;
	text-decoration: underline;
}