.aVaCListBox
{
	display: block;
	border: 1px solid #cccccc;
	background: #ffffff;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	max-height: 100px;
	height: expression(((this.scrollHeight<100)?this.scrollHeight:100) + 'px'); /* fix for IE */
	font-size: 10pt;
	z-index: 100;
	color: #999999;
}
.aVaCListBox>li
{
	list-style: none;
	cursor: pointer;
}
.aVaCListBox li.aVaCSelected
{
	background: #bbddff;
}
.aVaCLoading
{
	background-image: url('/JSLib/images/loading.gif')!important;
	background-position: right;
	background-repeat: no-repeat;
}
.aVaCMatchedPart
{
	font-weight: bold;
	text-decoration: underline;
}
.aVaCActivePart
{
	color: #000000;
}
