RewriteEngine On
RewriteBase /JSLib/demos/moduleManager
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} ^.+--JSLE[0-9]+$
RewriteRule ^(.+)--JSLE([0-9]+)$ ../../php/JSLoader.php?filename=../demos/moduleManager/$1&UID=$2