body, input, select, textarea
{
	font-family: Tahoma, Sans;
	font-size: 10pt;
}
#idCard
{
	border: 2px dashed #ff9000;
	width: 350px;
	min-height: 140px;
	padding: 5px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
#idPicture
{
	float: left;
	width: 128px;
	height: 128px;
	border: 2px solid #ffffff;
	border-right: 2px solid #bbbbbb;
	border-bottom: 2px solid #bbbbbb;
}
#idInfo
{
	float: left;
	width: 190px;
	min-height: 100px;
	margin: 12px 0px 12px 10px;
	padding: 0px;
}
#idInfo li
{
	font-weight: bold;
	list-style: none;
}
#idInfo li div
{
	font-weight: normal;
	display: block;
	height: 2em;
}
#idInfo li span
{
	font-weight: normal;
}
#idExtraInfo
{
	min-height: 4.5em;
	overflow-y: auto;
	overflow-x: hidden;
}
div.editable, span.editable
{
	text-decoration: underline;
	cursor: pointer;
}
span.editable
{
	background: #ffffaa;
	text-decoration: none;
}
img.editable
{
	border: 2px solid #dddddd;
	cursor: pointer;
}
.editable input, .editable select
{
	border: 1px solid #cccccc;
	padding: 0px;
	margin: 0px;
	display: inline;
	width: 98%;
}
span.editable input
{
	border: none;
	border-bottom: 1px solid #bbbbbb;
	width: 120px;
	background: none;
}
.editable textarea
{
	border: none;
	margin: 0px;
	padding: 1px;
	width: 98%;
	max-height: 4.5em;
}
.uploadContainer
{
	background:#FFFFFF none repeat scroll 0%;
	border:1px solid #FF9900;
	font-family:Tahoma;
	font-size:8pt;
	margin:0px;
	overflow:hidden;
	padding:0px;
	position:absolute;
}
.uploadContainer input
{
	font-family:Tahoma;
	font-size:8pt;
	margin:2px;
	text-align:center;
	width:100%;
}
.uploadTitle
{
	background:#FF9900 none repeat scroll 0%;
	color:#FFFFFF;
	cursor:default;
	margin:0px;
	padding:2px;
	float: left;
	clear: both;
	width: 100%;
}
.uploadTitleText
{
	float: left;
	clear: left;
}
.uploadCloseButton
{
	cursor: pointer;
	float: right;
	clear: right;
	margin-right: 5px;
	font-size: 9pt;
}
